/*COMMON STYLES*/
.heid {display: none;}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  color: currentColor;
  text-decoration-line: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hide {
  display: none;
}*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 0;
  margin: 0;
}
/* Reset styles*/
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;
}


/*=========================HEADER=========================*/

@media only screen and (min-width: 767.98px) {
  .hero {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
}
/*=========================HEADER=========================*/

/*MOBILE*/
.header {

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}



  .header-container {
      display: flex;
    }

    @media only screen and (min-width: 768px) {
      .header-container {
        align-items: center;
      }
    }

    .header-nav {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

/*     
  position: relative;
  display: flex;
  font-family: "Raleway", sans-serif;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
 
  margin: auto; 
}

*/

.header-box {
  display: flex;
margin-left: 0px;
}

.header-class {
  display: flex;
  align-items: center;
}

.header-link:is(:hover, :focus) {
  background-color:var(--four-title-color);
  color:var(--main-title-color);
  display: flex;
}

.header-link {
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--six-title-color);
font-family: "Roboto", sans-serif;
background-color:var(--five-title-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.header-list {
  gap: 40px;
  display: flex;
}
@media only screen and (max-width: 767.98px) {
  .header-list {
  display: none;
}
} 

.header-logo  {

  padding-top: 17.5px;
  padding-bottom: 17.5px;


  position: relative;
  color: var(--IRIS, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
}

.header-logo-accent  {

  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
}

.header-link  {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: 'Roboto';
 
  align-items: center; 
  display: block;
  padding: 24px 0;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position:relative;
}

.header-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  
  left: 0;
  display: block; 
  width: 100%;
  height: 4px;    
  border-radius: 2px;
  background-color: var(--OCEAN, #404BBF);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link.active {
  color: #404BBF ;

}

.header-item {
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  list-style: none;

}
.header-link:is(:hover, :focus){
  color: var(--four-title-color);

}
.header-nav  {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--second-title-color);
  /* display: flex; */
  align-items:center; 
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
@media only screen and (max-width: 767.98px) {
  .header-contacts-list {
  display: none;
}
} 

.header-nav:is(:hover, :focus) {
  color:var(--four-title-color); 
 
}
.header-contacts-item{
  display: block;
  /* padding: 24px 0; */
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-item:is(:hover, :focus){
  color:#404BBF;
}


@media only screen and 
(min-width: 768px) {
  .container {
   
    max-width: 768px;
  }

    .header-logo {
    margin-right: 122px;
  } 

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: baseline;  
  }

  .header-main {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }}

  .btn-header-menu 
    {
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 16px 0;
    margin-left: 156px;
  }
  
  @media screen and (min-width: 1158px) { 
    .container {
      width: 1158px;
      min-width: 1158px;
    }

    .heder-logo {
      margin-right: 76px;
    }
    .header-contacts-list  {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
    }
   .header-main {
      margin-bottom: 36px;
      text-transform: none;
    }}

    @media screen and (min-width: 768px) {
      .btn-header-menu {
        display: none;
      }
  }
  
 
/*=================SECTION 1 hero image===============*/

/*==========MOBILE==========*/

.hero {
  max-width: 428px;
  padding: 112px 0px;
  margin: auto;

  text-align: center;

  background: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.MOBjpg.jpg);
  margin: auto;
}
@media only screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.MOBjpg.jpg);
  }
}
.hero-title {
  max-width: 320px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding: 0 72px;
}
.button {
  font-family: inherit;
  color: currentColor;
  justify-content: center;
}
.hero-btm {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btm:hover {
  background-color: #404bbf;
  /*transition: background-color, 250ms ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);*/
}
.hero-btm:focus {
  background-color: #404bbf;
  transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

/*==========TABLET==========*/
@media only screen and (min-width: 767.98px) {
  .hero {
    max-width: 768px;
  }
}

@media only screen and (min-width: 767.98px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg.tab.jpg);
  }
  @media only screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x.tab.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 36px;
  }
}
/*==========DESKTOP==========*/
@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }}
@media only screen and (min-width: 1158px) {
  .hero {
    /*max-width: 1440px;*/
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.desk.jpg);
  }
  @media only screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x.DESK.jpg);
    }
  }
  .hero-title {
    margin: 0 auto 48px;
  }
}

/*===============SECTION 2 feature================*/

/*==========MOBILE==========*/

.feature {
  padding: 96px 0;
}

.feature-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  gap: 72px;
}
.feature-item {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.feature-item-name {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-item-descr {
  color: #434455;
  text-align: left;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.featureicon {
  display: none;
}

/*==========TABLET=========*/ 

@media only screen and (min-width: 767.98px) {
  .feature-container {
    max-width: 768px;
  }
  .feature-item-name {
    text-align: left;
  }
  .featureicon {
    display: none;
  }
}

/*==========DESKTOP==========*/
@media only screen and (min-width: 1158px) {
  .feature-container {
    max-width: 1440px;
  }
    .feature {
      padding: 120px 0;
    }
    .feature-list {
    gap: 24px;
  }
  .feature-item {
    max-width: 1440;
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-item-name {
    max-width: 1440;
    text-align: left;
  }
  .featureicon {
    max-width: 1440;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    padding: 24px 0;
    margin-bottom: 8px;
  }
}

/*======SECTION 3 Our team ========*/

.team {
  padding: 96px 0;
  background-color: #f4f4fd;
  margin: auto;
}


/*==========MOBILE==========*/

.title {
  /*min-width: 162px;*/
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  font-style: normal;
}
.team-list {
  display: flex;
  
  flex-wrap: wrap;
  gap: 24px;/*32px;*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*align-items: center;
  justify-content: center;*/
  /*margin-right: 24px;*/
  
}
.team-list:last-child {
  margin-right: 0;
}

.name {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}
.team-item-card {
  display: flex;
  width: 100%;
  max-width: 264px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #2e2f42;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-name {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  
  margin-bottom: 8px;
  color: #2E2F42; /**/
}
.team-item-profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.socials-item {
  width: 40px;
  height: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  fill: currentColor;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
  /*transition: color, 250ms ease-in-out, background-color 250ms ease-in-out,
    cubic-bezier(0.4, 0, 0.2, 1);*/
}

/*==========TABLET==========*/ 

@media only screen and (min-width: 767.98px) {
  
  .team {max-width: 768px;}
  .title {
    margin-bottom: 72px;
  }
  .team-list {
    gap: 64px 24px; /**/
  }
  .team-item-card {
    width: calc((100% - 24px * 1) / 2);
    max-width: 100%;
  }
}
/*==========DESKTOP==========*/
@media only screen and (min-width: 1158px) {
  .team {max-width: 1158px;}
  .team-list {
    gap: 24px;
    max-width: 1158px;
  }
  .team-item-card {
    width: calc((100% - 24px * 3) / 4);
   max-width: 100%;
  }
}

/*============SECTION 4 OUR portfolio===========*/

/*==========MOBILE==========*/

.container-portfolio {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;
  outline: 2px solid red;
  outline-offset: -2px;
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
 }
.content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 }
 .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
 }
 .portfolio-item-card {
  width: 100%;
  max-width: 288px;
  flex-wrap: wrap;
  gap: 72px 24 px;
  height: auto;
  font-size: 36px;
  line-height: 1.11;
  /*width: calc((100% - 48px) / 3);*/
  /*position: relative;*/
  /*box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 /*@media screen and (max-width: 767.98px) {
  .portfolio-item-card:nth-child(2n+1) {display: none;}
 }*/
 
 .portfolio-item-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
 
 
 /*.portfolio-item-card:hover {
  background-color: #4d5ae5;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }*/
 
 
 .portfolio-item-card:focus {
  background-color: #4d5ae5;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 
 .portfolio-descr {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }
 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  padding: 40px 40px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform color, 250ms ease-in-out, background-color 250ms,
    cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item-card:hover .overlay {
  transform: translateY(0);
 }
 
 
 .portfolio-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  margin-top: 413px;
  margin-left: 331px;
 }
 
 .portfolio-wrapper {
  position: relative;
  overflow: hidden;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 

 @media screen and (min-width: 767.98px) {
  .container-portfolio {
    max-width: 768px;
  }
  .portfolio-list {
    gap: 24px;
  }
  .portfolio-item-card {
    width: calc((100% - 24px * 1) / 2);
    max-width: 768px;
  }
 }


 @media screen and (min-width: 1158px) {
  .container-portfolio {
    max-width: 1440px;
    padding: 0 15px 0 15px;
  }
  .portfolio-list {
    gap: 24px;
  }
  .portfolio-item-card {
    width: calc((100% - 24px * 2) / 3);
    max-width: 1440px;
  }
 }
 
/*=====================Footer===================*/
.footer {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
}

.footer-container {
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 72px;
}

.container-footer {
  /* margin-right: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container-social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-link {
  color:#4d5ae5;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* max-width: 264px; */
  max-width: 288px;
}

.f-socialmedia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.f-smedia-items {
  width: 40px;
  height: 40px;
}
.fmedia-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fmedia-link:hover,
.fmedia-link:focus {
  background-color: #31d0aa;
}
.fmedia-icon {
  fill: #f4f4fd;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
 
}

.wrapper-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  /* margin-bottom: 16px; */
}

.footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe-form-input{
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}

.subscribe-form-input::placeholder {
  color: #fff;
}

.subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  cursor: pointer;
  background-color: #4d5ae5;
}

.subscribe-form-icon {
  margin-left: 16px;
  fill: #fff;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  padding-left: 108px;
}

.container-footer {
  display: flex;
  align-items: flex-start;
}

.container-social {
  display: flex;
  align-items: flex-start;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
}

.footer-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.subscribe-form-input {
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
}}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }

  .container-footer {
    margin-right: 120px;
  }

  .container-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-descr {
    max-width: 264px;
  }

  .footer-wrapper{
    margin-left: 80px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
}
/*==========MODAL=============*/
.modal-caption {
  color: #2e2f42;
  text-align: center;
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 360;
  /*padding-top: 72px;
  padding-bottom: 16px;*/
  margin-bottom: 16px;
}
.backdrop.is-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
  position: absolute; /*relative;*/
  top: 50%;
  left: 50%;
  /*margin-bottom: 8px;*/
  width: 408px;
  min-height: 584px;
  padding: 24px;
  border-radius: 4px;
  background: #fcfcfc;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;

}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: transparent;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*border-color: #2e2f42;*/
}
.modal-btn:focus,
.modal-btn:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  transition: color 250ms ease-in-out background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:focus {
  color: #ffffff;
}

.modal-form-main {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
}

.form-input {
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-main {
  margin-bottom: 8px;
}

.form-icon {
  position: absolute;
  fill: transparent;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper {
  margin-bottom: 16px;
}
.user-comment {
  padding-bottom: 4px;
}
.user-comment-form {
  width: 100%;
  resize: vertical;
  min-height: 120px;
  max-height: 180px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f4266;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment-form::placeholder {
  color: currentColor;
  transition: border-color 250ms;
}

.user-comment-form:focus {
  border-color: #4d5ae5;
  /*margin-bottom: 24px;*/
}


/*==========Checkbox==========*/


.checkbox-container {
  margin-bottom: 24px;
}
.user-privacy-label {
  display: block;
  margin-bottom: 24px;
  /*22/02/24*/
  margin-top: 16px;

  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /*user-select: none;*/
}

.user-privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  stroke-width: 1px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  fill: transparent;
}
.accept-icon {
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .user-privacy-label > .user-privacy-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}
.input-checkbox:checked
  + .user-privacy-label
  > .user-privacy-checkbox
  > .accept-icon {
  opacity: 1;
}

/*. {
  margin-left: 8px;
}*/

.form-accept-link {
  color: #404bbf;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  padding-bottom: 24px;
  margin-left: 4px;
  color: #4d5ae5;
}

.accept-button {
  display: block;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  min-height: 56px;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  border: none;
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

/*=================Mobile menu  07.01.24===============*/

.socials-icon {
  display: flex;
  justify-content: center;
  fill: currentColor;
}

.mobile-menu {
  position: fixed;

  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px 24px;

  background-color: #fff;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: transparent;
  border-color: #e7e9fc;
  background: #fff;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:focus,
.menu-btn:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  transition: color 250ms ease-in-out background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-icon:focus {
  color: #ffffff;
}
.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contact {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
}

.mobile-menu-contact.accent {
  color: #4d5ae5;
}
.mobile-menu-socials {
  gap: 40;
}

.mobile-menu-socials.socials-link {
  border-radius: 50%;}